<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/al_style.css">
  <title>フォームサンプル3</title>

</head>
<body>
  <div class="al-page-header">フォームサンプル3 / 終了</div>

  <p>完了しました。</p>

  <a href="<%=h Alone::make_uri() %>">最初へ</a>

</body>
</html>
